@media (max-width: 700px){

    .titles{
        flex-direction: column;
    }
    
    .titles .text {
        width: 100%!important;
    }

}

.titles{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 10%;
    margin-top: 100px;
    gap: 10px;
}
.reverse{
    flex-direction: row-reverse;
}
.titles .text{
    width: 100%;
    margin: auto;
}
